/ {
	pwmleds: pwmleds {
	    compatible = "pwm-leds";
	    red_led: led_red {
		pwms = <&pwm0 2 PWM_USEC(1000) PWM_POLARITY_INVERTED>;
	    };
	    green_led: led_green {
		pwms = <&pwm0 1 PWM_USEC(1000) PWM_POLARITY_INVERTED>;
	    };
	    blue_led: led_blue {
		pwms = <&pwm0 0 PWM_USEC(1000) PWM_POLARITY_INVERTED>;
	    };
	};
    };

    &pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_custom>;
	pinctrl-1 = <&pwm0_csleep>;
	pinctrl-names = "default", "sleep";
    };

    &pinctrl {
	pwm0_custom: pwm0_custom {
	    group1 {
		psels = <NRF_PSEL(PWM_OUT0, 0, 5)>,
			<NRF_PSEL(PWM_OUT1, 0, 6)>,
			<NRF_PSEL(PWM_OUT2, 0, 7)>;
	    };
	};

	pwm0_csleep: pwm0_csleep {
	    group1 {
		psels = <NRF_PSEL(PWM_OUT0, 0, 5)>,
			<NRF_PSEL(PWM_OUT1, 0, 6)>,
			<NRF_PSEL(PWM_OUT2, 0, 7)>;
		low-power-enable;
	    };
	};
    };
